{% extends "portfolio/base.html" %}
{% block content %}
<h2>Licenciatura</h2>
<section>
    {% for licenciatura in licenciaturas %}
    <article>
        <header>
            <h3>{{ licenciatura.nome }}</h3>
            <p>{{ licenciatura.grau }} · {{ licenciatura.duracao_anos }} anos · {{ licenciatura.instituicao }} · {{ licenciatura.ects_totais }} ECTS</p>
        </header>
        <section>
            <h4>Docentes</h4>
            <ul>
                {% for docente in licenciatura.docentes.all %}
                    <li>{{ docente.nome }}</li>
                {% empty %}
                    <li>Sem docentes associados</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}