{% extends "portfolio/base.html" %}
{% block content %}
<h2>Projetos</h2>

{% if is_gestor %}
<p><a href="{% url 'projeto_create' %}">+ Novo Projeto</a></p>
{% endif %}

<section>
    {% for projeto in projetos %}
    <article>
        <header>
            <h3>{{ projeto.nome }}</h3>
            <p>{{ projeto.descricao }}</p>
        </header>
        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tecnologia in projeto.tecnologias.all %}
                    <li>{{ tecnologia.nome }}</li>
                {% empty %}
                    <li>Sem tecnologias associadas</li>
                {% endfor %}
            </ul>
        </section>

        {% if is_gestor %}
        <p>
            <a href="{% url 'projeto_edit' projeto.id %}">Editar</a> ·
            <a href="{% url 'projeto_delete' projeto.id %}">Apagar</a>
        </p>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}