{% extends "portfolio/base.html" %}
{% block content %}
<h2>Tecnologias</h2>

<p><a href="{% url 'tecnologia_create' %}">+ Nova Tecnologia</a></p>

<section>
    {% for tecnologia in tecnologias %}
    <article>
        <header>
            <h3>{{ tecnologia.nome }}</h3>
            <p>Nível de interesse: {{ tecnologia.nivel_interesse }}/5</p>
        </header>
        <p>
            <a href="{% url 'tecnologia_edit' tecnologia.id %}">Editar</a> ·
            <a href="{% url 'tecnologia_delete' tecnologia.id %}">Apagar</a>
        </p>
    </article>
    {% endfor %}
</section>
{% endblock %}